.cardsContainer {
    border-radius: 5%;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: space-between;
    padding: 20px;
    margin: 0 auto;
}

.tarjeta {
    background: #282c34;
    color: darkgray;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    width: 370px;
}

.cardImg {
    width: 350px;
    margin-bottom: 20px;
    border-radius: 5%;
    background-color: #282c34;
}